.header {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	transition: box-shadow 0.3s;

	&__container {
		display: flex;
		align-items: center;
		height: 90px;
	}

	&__logo {
		width: 173px;
		flex-shrink: 0;
	}

	&__title {
		font-size: 13px;
		max-width: 175px;
		margin-left: 11px;
	}

	&__list-wrap {
		margin: 0 30px;
		flex-grow: 1;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		font-size: 15px;
		font-weight: 500;
	}

	&__item {

		&--tel {
			display: none;
		}
	}

	&__item a, &__tel {
		@include hover-opacity;
	}

	&__tel {
		margin-left: auto;
		font-size: 18px;
		font-weight: 700;

		i {
			display: none;
		}
	}

	&__toggle {
		display: none;
	}
}

.header--shadow {
	box-shadow: 0 5px 15px rgba(#000, 0.2);
}

@include media-breakpoint-down(lg) {
	.header {

		&__list-wrap {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			margin: 0;
			background-color: #fff;
			padding: 20px;
			z-index: 1;
			border-bottom: 2px solid #999;
		}

		&__list {
			flex-direction: column;
			align-items: center;
			font-size: 20px;
		}

		&__item {

			&--tel {
				display: block;
			}

			&:nth-child(n + 2) {
				margin-top: 15px;
			}
		}

		&__toggle {
			display: block;
			position: relative;
			margin-left: 30px;
			width: 30px;
			height: 20px;
			flex-direction: column;
			cursor: pointer;

			span {
				position: absolute;
				left: 0;
				right: 0;
				height: 4px;
				border-radius: 2px;
				background-color: #1D1B1C;
				transition: 0.2s;

				&:nth-child(1) {
					top: 0;
				}

				&:nth-child(2) {
					top: 8px;
				}

				&:nth-child(3) {
					bottom: 0;
				}
			}

			&.active {

				span {

					&:nth-child(1) {
						transform: rotate(45deg);
						top: 8px;
					}

					&:nth-child(2) {
						opacity: 0;
					}

					&:nth-child(3) {
						transform: rotate(-45deg);
						bottom: 8px;
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.header {

		&__container {
			height: 60px;
		}

		&__title {
			display: none;
		}

		&__tel {
			
			i {
				display: block;
			}

			span {
				display: none;
			}
		}
	}
}